 
[submodule "nvim"]
	path = nvim
	url = https://github.com/arozoid/rustle.nvim
[submodule "ranger"]
	path = ranger
	url = https://github.com/arozoid/rustle.ranger
[submodule "rstlpk"]
	path = rstlpk
	url = https://github.com/arozoid/rstlpk
[submodule "rstl-inst"]
	path = rstl-inst
	url = https://github.com/arozoid/rstl-inst.git
[submodule "rstl-pick"]
	path = rstl-pick
	url = https://github.com/arozoid/rstl-pick.git
