/* ~/.config/waybar/style.css */

* {
    border: none;
    border-radius: 0;
    font-family: "monospace";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #111111;
    color: #dddddd;
}

#workspaces button {
    padding: 0 8px;
    color: #666666;
    background: transparent;
}

#workspaces button.focused {
    color: #ffffff;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#battery {
    padding: 0 10px;
    color: #cccccc;
}
